# System files
.DS_Store

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log

# Miscellaneous
/.angular/cache
/coverage
.env
.env.local
.idea

projects/documentation-site/src/app/compiled-pages
projects/documentation-site/src/app/generated-doc-routes.ts

# VitePress
docs/.vitepress/cache
docs/.vitepress/dist
